<!doctype html>
<html lang="en">
  <head>
  	{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/exo_logo.ico">
    <title>Byte 3</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/narrow-jumbotron.css" rel="stylesheet">
    <!-- Vega-lite visualization libraries -->
	<script src="//d3js.org/d3.v3.min.js"></script>
	<script src="//vega.github.io/vega/vega.js"></script>
	<script src="//vega.github.io/vega-lite/vega-lite.js"></script>
	<script src="//vega.github.io/vega-editor/vendor/vega-embed.js" charset="utf-8"></script>
	    
	<style media="screen">
	   /* Add space between vega-embed links  */
	    .vega-actions a {
	      margin-right: 5px;
	    }
	</style>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/scann1994/chongs-mobile.git">Git</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Byte 3 - Mobile Self-Data Exploration</h3>
      </div>
     {% block content %}
     {% endblock %}
     <footer class="footer">
		{% block footer %}
    	<p>&copy;  Chong Shen - Data Pipeline 2017 Spring</p>
    	{% endblock %}
  	</footer>
    </div>
  </body>
</html>

<!DOCTYPE html>