{% extends "templates/layout.html" %}
{% block content %}
  <h4>Know the Teams</h4>
  <p><a name = "teams1">Where are the Premier League teams located in the UK?</a></p>
  <div class="content">
    <iframe width="750" height="450" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col1+from+13nF11bjnkP_iv2NjJQoR7EOyzFUenKKLkXM3CQql&amp;viz=MAP&amp;h=false&amp;lat=53.125645902081445&amp;lng=-1.6932466621093454&amp;t=1&amp;z=6&amp;l=col1&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG"></iframe>
    <iframe width="750" height="450" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col1+from+13nF11bjnkP_iv2NjJQoR7EOyzFUenKKLkXM3CQql+limit+1000&amp;viz=HEATMAP&amp;h=true&amp;lat=52.868598456773114&amp;lng=-1.5737703437499704&amp;t=1&amp;z=6&amp;l=col1&amp;y=3&amp;tmplt=3&amp;hmd=true&amp;hmg=%2366ff0000%2C%2393ff00ff%2C%23c1ff00ff%2C%23eeff00ff%2C%23f4e300ff%2C%23f4e300ff%2C%23f9c600ff%2C%23ffaa00ff%2C%23ff7100ff%2C%23ff3900ff%2C%23ff0000ff&amp;hmo=0.59&amp;hmr=19&amp;hmw=0&amp;hml=ONE_COL_LAT_LNG"></iframe>
  </div>
  <p><a name = "teams2">Who are the bigger teams in terms of market value?</a></p>
  <div class="content">
      <iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;q=select+col0%2C+col3+from+13nF11bjnkP_iv2NjJQoR7EOyzFUenKKLkXM3CQql+order+by+col3+desc+limit+20&amp;viz=GVIZ&amp;t=BAR&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;gco_tooltip=%7B%22isHtml%22%3Atrue%7D&amp;tmplt=5&amp;width=500&amp;height=300"></iframe>
  </div>
  <h4>Know the League History</h4>
  <p><a name = "history">Who has won the league title in the past?</a></p>
  <div class="content">
      <iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;q=select+col1%3E%3E0%2C+count()+from+16NIrW2s8hkT1RL_y1ASB1xv3lC_K4asbAw_jt7pA+group+by+col1%3E%3E0+order+by+col1%3E%3E0+asc+limit+10&amp;viz=GVIZ&amp;t=PIE&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=500&amp;height=300"></iframe>
      <iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;q=select+col1%3E%3E0%2C+count()+from+16NIrW2s8hkT1RL_y1ASB1xv3lC_K4asbAw_jt7pA+group+by+col1%3E%3E0+order+by+count()+desc+limit+10&amp;viz=GVIZ&amp;t=BAR&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=500&amp;height=300"></iframe>
  </div>
{% endblock %}